button {
  background-image: url('/assets/button.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  font-size: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 15px;
  border: none;
  color: var(--white);
  padding: 24px 12px;

  div {
    margin: 6px 0;
  }
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1r;
  gap: 5px;
  
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  font-size: 24px;
  margin-bottom: 6px;
  margin-top: 12px;
}

input {
  padding: 6px 12px;
}

button {
  grid-column: span 1;
  margin-top: 6px;
}

.error {
  width: 100%;
  text-align: center;
  color: red;
}