.site-wrapper {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url('/assets/background.png');
  background-size: contain;
  padding: 18px 60px;
}

@media (max-width: 800px) {
  .site-wrapper {
    padding: 18px 36px;
  }
}

@media (max-width: 400px) {
  .site-wrapper {
    padding: 18px 18px;
  }
}