button {
    background-image: url('/assets/button.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-size: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 15px;
    border: none;
    color: var(--white);
    padding: 12px;
  
    div {
      margin: 6px 0;
    }
  }
  
  form,  select{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
  }
  
  button {
    grid-column: span 2;
  }