.product {
  background-color: var(--background);
  border: 3px solid var(--background-light);

  .name {
    text-align: center;
    font-size: 22px;
    padding: 6px;
    border-bottom: 3px solid var(--background-light);
  }

  .image {
    height: 54px;
    width: 54px;
    object-fit: contain;
  }

  .details {
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  button {
    height: 48px;
    width: 48px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    background-image: url('/assets/icons/add.png');
    background-size: cover;
    background-position: center;

    &:hover {
      background-image: url('/assets/icons/add_active.png');
    }
  }

  img {
    order: -1;
    transition: transform 0.3s, opacity 0.2s;
    pointer-events: none;
  }

  .add-to-cart {
    transition: transform 0.3s;
  }

  .add-to-cart.adding {
    transform: scale(1.2);
    
  }

  .add-to-cart.adding + img {
    transform: translateY(140%) scale(0.4);
    transform-origin: top;
    opacity: 0;

  }

  .price {
    color: var(--text-highlight);
    text-align: center;
  }
}
