<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <label for="username">
      Username
    </label>
    <input id="username" type="text" formControlName="username">

    <label for="email">
      Email
    </label>
    <input id="email" type="text" formControlName="email">
  
    <label for="role">
      Role
    </label>
    <input id="role" type="text" formControlName="role">
  
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password">  
    <button class="button" type="submit">Submit</button>

    <div *ngIf="error.length > 0" class="error">
      {{ error }}
    </div>
  </form>
  