.image {
    height: 54px;
    width: 54px;
    object-fit: contain;
  }

  button {
    background-image: url('/assets/button.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-size: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 15px;
    border: none;
    color: var(--white);
    padding: 30px;
  
    div {
      margin: 6px;
    }
    cart-content {
      font-size: 15px;
    }
  }

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.cart-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.empty-cart {
  text-align: center;
  font-size: 24px;
}