<div class="text-highlight">
    <h3>Shopping Cart</h3>

    <div class="cart" *ngFor="let cartItem of cartItems | keyvalue">
        <img class="image" [src]="cartItem.value.product.thumbnailUrl" alt="">
        <div class="cart-content">
        <span>{{ cartItem.value.product.name }}</span>
        <span>      ||    </span>
        <span>{{ cartItem.value.product.price | price}}</span>
        <span>      ||    </span>
        <span>{{ cartItem.value.count }}</span>
        </div>
    </div>
    <button (click)="onOrderItems()" type="submit">Order Items</button>
    <button (click)="clearCart()" type="submit">Clear Cart</button>

</div>